In [2]:
import pandas as pd
df  =pd.read_csv(r'C:\Users\Admin\Desktop\ml model\Data for MSC Thesis\ourproject2.csv')
df.head(15)

,household_id,ea_id,saq14,pw_w5,interview__key,interview__id,saq01,saq02,saq03,saq04,...,saq11,saq13,saq17,saq18,saq19__Latitude,saq19__Longitude,saq19__Accuracy,saq19__Altitude,saq19__Timestamp,saq21
0,20101010100104011,20101010100104,URBAN,40.537724,20-49-41-94,9787a46793ba4c38a1e5a60a03bfccfd,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
1,20101010100104022,20101010100104,URBAN,40.339836,34-87-42-01,f1c1250ca1764dd0acef9bcf3ed0d0b3,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
2,20101010100104033,20101010100104,URBAN,3993.643799,21-91-22-36,21bbe139ec2b4917aa84356804e4bccb,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
3,20101010100104044,20101010100104,URBAN,40.928654,24-31-79-43,52712bb1c1934a218ace81e3686c0456,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
4,20101010100104055,20101010100104,URBAN,4175.617676,62-20-24-51,f8abf3ba4fa044f7b074ca211c2e6757,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
5,20101010100104066,20101010100104,URBAN,2112.083252,03-23-99-06,8a7e29657ca7454386a663892007ad56,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
6,20101010100104077,20101010100104,URBAN,342.546417,88-08-73-78,6f6505087e2f4240b18f773f5e3a112c,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
7,20101010100104088,20101010100104,URBAN,40.339836,45-57-50-57,7d781405681842c099cf69ae68c00f97,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
8,20101010100104099,20101010100104,URBAN,40.715969,43-92-65-69,0070d1ca68734dd29b0a99e50799b19e,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
9,20101010100104110,20101010100104,URBAN,2535.890137,54-35-31-88,2c5c8da473f4413a9b899bddfdcfbdbe,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
10,20101010100104121,20101010100104,URBAN,3993.643799,54-30-39-57,594d7a5bc2274b529f029a63bcc9feef,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
11,20101010100104132,20101010100104,URBAN,40.339836,71-02-24-88,4fa90a92930c48669773ceaeda6c8073,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
12,20101010100104143,20101010100104,URBAN,40.715969,72-51-32-25,7805285e368548ccabeba1e3339e0869,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
13,20101010100104165,20101010100104,URBAN,4408.689453,26-94-53-54,5008ed938c4544c7918db4561e0ab5a3,AFAR,1,1,1,...,**CONFIDENTIAL**,NO,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
14,20101088800704003,20101088800704,RURAL,68.544952,56-10-81-02,54e121f85c554569929e8dd4f1b79549,AFAR,1,1,8,...,**CONFIDENTIAL**,YES,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**

In [3]:
print(df.shape)        # number of rows & columns
print(df.info())  
df.tail()

(4959, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4959 entries, 0 to 4958
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   household_id      4959 non-null   int64
 1   ea_id             4959 non-null   int64
 2   saq14             4959 non-null   object
 3   pw_w5             4959 non-null   float64
 4   interview__key    4959 non-null   object
 5   interview__id     4959 non-null   object
 6   saq01             4959 non-null   object
 7   saq02             4959 non-null   int64
 8   saq03             4959 non-null   int64
 9   saq04             4959 non-null   int64
 10  saq05             4959 non-null   int64
 11  saq06             4959 non-null   int64
 12  saq07             4959 non-null   int64
 13  saq08             4959 non-null   int64
 14  saq09             4959 non-null   int64
 15  saq11             4959 non-null   object
 16  saq13             4959 non-null   object
 17  saq17             4959 non-null   object
 18  saq18             4959 non-null   object
 19  saq19__Latitude   4959 non-null   object
 20  saq19__Longitude  4959 non-null   object
 21  saq19__Accuracy   4959 non-null   object
 22  saq19__Altitude   4959 non-null   object
 23  saq19__Timestamp  4926 non-null   object
 24  saq21             4959 non-null   object
dtypes: float64(1), int64(10), object(14)
memory usage: 968.7+ KB
None

,household_id,ea_id,saq14,pw_w5,interview__key,interview__id,saq01,saq02,saq03,saq04,...,saq11,saq13,saq17,saq18,saq19__Latitude,saq19__Longitude,saq19__Accuracy,saq19__Altitude,saq19__Timestamp,saq21
4954,150101088803701057,150101088803701,RURAL,21.763788,11-95-97-93,1ea672d6e401405e9a521e6717e5d012,DIRE DAWA,1,1,8,...,**CONFIDENTIAL**,YES,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
4955,150101088803701067,150101088803701,RURAL,880.345032,23-92-78-16,a9f87e68c48841a3bd132680bdf33ea0,DIRE DAWA,1,1,8,...,**CONFIDENTIAL**,YES,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
4956,150101088803701077,150101088803701,RURAL,21.746241,08-94-44-75,29e11b7cab884130a35d2babdfa8e32f,DIRE DAWA,1,1,8,...,**CONFIDENTIAL**,YES,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
4957,150101088803701087,150101088803701,RURAL,22.019119,90-62-12-19,7824b531400e4929adad8f78a117259e,DIRE DAWA,1,1,8,...,**CONFIDENTIAL**,YES,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**
4958,150101088803701097,150101088803701,RURAL,21.441988,30-89-55-47,852f689642114e99b6ee4f154e8d37d3,DIRE DAWA,1,1,8,...,**CONFIDENTIAL**,YES,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**,**CONFIDENTIAL**

In [8]:
print(df.isnull().sum())

household_id         0
ea_id                0
saq14                0
pw_w5                0
interview__key       0
interview__id        0
saq01                0
saq02                0
saq03                0
saq04                0
saq05                0
saq06                0
saq07                0
saq08                0
saq09                0
saq11                0
saq13                0
saq17                0
saq18                0
saq19__Latitude      0
saq19__Longitude     0
saq19__Accuracy      0
saq19__Altitude      0
saq19__Timestamp    33
saq21                0
dtype: int64

In [13]:

# Drop identifier and confidential columns
cols_to_drop = [
    'household_id', 'ea_id', 'interview__key', 'interview__id',  # IDs
    'saq11', 'saq13', 'saq17', 'saq18', 'saq21',                 # confidential / unusable
    'saq19__Timestamp'                                           # missing values
]

df_clean = df.drop(columns=cols_to_drop)

# Optional: convert location columns to numeric
df_clean['saq19__Latitude'] = pd.to_numeric(df_clean['saq19__Latitude'], errors='coerce')
df_clean['saq19__Longitude'] = pd.to_numeric(df_clean['saq19__Longitude'], errors='coerce')
df_clean['saq19__Accuracy'] = pd.to_numeric(df_clean['saq19__Accuracy'], errors='coerce')
df_clean['saq19__Altitude'] = pd.to_numeric(df_clean['saq19__Altitude'], errors='coerce')

# Check result
print(df_clean.columns)
print(df_clean.shape)
print(df_clean.head())

Index(['saq14', 'pw_w5', 'saq01', 'saq02', 'saq03', 'saq04', 'saq05', 'saq06',
       'saq07', 'saq08', 'saq09', 'saq19__Latitude', 'saq19__Longitude',
       'saq19__Accuracy', 'saq19__Altitude'],
      dtype='object')
(4959, 15)
   saq14        pw_w5 saq01  saq02  saq03  saq04  saq05  saq06  saq07  saq08  \
0  URBAN    40.537724  AFAR      1      1      1      1      1      4     11
1  URBAN    40.339836  AFAR      1      1      1      1      1      4     22
2  URBAN  3993.643799  AFAR      1      1      1      1      1      4     33
3  URBAN    40.928654  AFAR      1      1      1      1      1      4     44
4  URBAN  4175.617676  AFAR      1      1      1      1      1      4     55

   saq09  saq19__Latitude  saq19__Longitude  saq19__Accuracy  saq19__Altitude
0      2              NaN               NaN              NaN              NaN
1      5              NaN               NaN              NaN              NaN
2      4              NaN               NaN              NaN              NaN
3      3              NaN               NaN              NaN              NaN
4      4              NaN               NaN              NaN              NaN

In [19]:
df_clean.head()

,saq14,pw_w5,saq01,saq02,saq03,saq04,saq05,saq06,saq07,saq08,saq09,saq19__Latitude,saq19__Longitude,saq19__Accuracy,saq19__Altitude
0,URBAN,40.537724,AFAR,1,1,1,1,1,4,11,2,NaN,NaN,NaN,NaN
1,URBAN,40.339836,AFAR,1,1,1,1,1,4,22,5,NaN,NaN,NaN,NaN
2,URBAN,3993.643799,AFAR,1,1,1,1,1,4,33,4,NaN,NaN,NaN,NaN
3,URBAN,40.928654,AFAR,1,1,1,1,1,4,44,3,NaN,NaN,NaN,NaN
4,URBAN,4175.617676,AFAR,1,1,1,1,1,4,55,4,NaN,NaN,NaN,NaN

In [17]:
df_clean.tail()

,saq14,pw_w5,saq01,saq02,saq03,saq04,saq05,saq06,saq07,saq08,saq09,saq19__Latitude,saq19__Longitude,saq19__Accuracy,saq19__Altitude
4954,RURAL,21.763788,DIRE DAWA,1,1,8,88,37,1,57,7,NaN,NaN,NaN,NaN
4955,RURAL,880.345032,DIRE DAWA,1,1,8,88,37,1,67,3,NaN,NaN,NaN,NaN
4956,RURAL,21.746241,DIRE DAWA,1,1,8,88,37,1,77,6,NaN,NaN,NaN,NaN
4957,RURAL,22.019119,DIRE DAWA,1,1,8,88,37,1,87,6,NaN,NaN,NaN,NaN
4958,RURAL,21.441988,DIRE DAWA,1,1,8,88,37,1,97,6,NaN,NaN,NaN,NaN

In [22]:


# Fill NaN with 0
location_cols = ['saq19__Latitude', 'saq19__Longitude', 'saq19__Accuracy', 'saq19__Altitude']
df_clean[location_cols] = df_clean[location_cols].fillna(0)

print(df_clean[location_cols].isnull().sum())  # Should show 0

saq19__Latitude     0
saq19__Longitude    0
saq19__Accuracy     0
saq19__Altitude     0
dtype: int64

In [26]:
df_clean.head()

,saq14,pw_w5,saq01,saq02,saq03,saq04,saq05,saq06,saq07,saq08,saq09,saq19__Latitude,saq19__Longitude,saq19__Accuracy,saq19__Altitude
0,URBAN,40.537724,AFAR,1,1,1,1,1,4,11,2,0.0,0.0,0.0,0.0
1,URBAN,40.339836,AFAR,1,1,1,1,1,4,22,5,0.0,0.0,0.0,0.0
2,URBAN,3993.643799,AFAR,1,1,1,1,1,4,33,4,0.0,0.0,0.0,0.0
3,URBAN,40.928654,AFAR,1,1,1,1,1,4,44,3,0.0,0.0,0.0,0.0
4,URBAN,4175.617676,AFAR,1,1,1,1,1,4,55,4,0.0,0.0,0.0,0.0

In [27]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

numeric_cols = ['pw_w5','saq02','saq03','saq04','saq05','saq06','saq07','saq08','saq09',
                'saq19__Latitude','saq19__Longitude','saq19__Accuracy','saq19__Altitude']
X_numeric = df_clean[numeric_cols]

vif_data = pd.DataFrame()
vif_data["feature"] = X_numeric.columns
vif_data["VIF"] = [variance_inflation_factor(X_numeric.values, i) for i in range(X_numeric.shape[1])]

print(vif_data)

             feature         VIF
0              pw_w5    1.928012
1              saq02    2.577858
2              saq03    2.380180
3              saq04  137.553792
4              saq05  112.260724
5              saq06    1.727425
6              saq07    1.635711
7              saq08    2.637807
8              saq09    4.260488
9    saq19__Latitude         NaN
10  saq19__Longitude         NaN
11   saq19__Accuracy         NaN
12   saq19__Altitude         NaN

C:\Users\Admin\anaconda3\Lib\site-packages\statsmodels\regression\linear_model.py:1785: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.uncentered_tss